@use "../../../Global" as *;

.footer {
  &__inner {
    @include flex(row, 2px);
    justify-content: center;
    

    a{
      @include flex(column, 2px);
      margin: 0 5%;
      color: black;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      .icon{
        width: 1.8em;
        height: auto;
      }

      span{
        font-size: 1.2em;
      }
    }
  }
}