.userReport{
  .userReportInfo{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;

    img{
      margin-right: 10px;
      width: 150px;
      height: auto;
    }

    p{
      margin: 0 0 10px;
    }

    span{
      font-weight: bolder;
    }
  }

  .longDescription{
    text-align: justify;
    padding: 0 35px;
  }
}