$color-primary: #333;
$color-secondary: #666;
$color-third: #999;

$text-header: 10px;
$text-sub-header: 10px;
$text-paragraph: 10px;

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}
